/vnav-codes/
/vnav-codes_windows_copy/
/git_practice/
/lab1/lab1_demo/
/lab1/CMakeLists.txt
/lab1/main.cpp
/lab1/my_lib.cpp
/lab1/my_lib.hpp
/lab1/RandomVector/random_vector
/lab1/RandomVector/*.o
/lab1/RandomVector/build/
/..gitignore.swp
/lab1/report/*.aux
/lab1/report/*.log
/lab1/report/*.out
/lab1/report/*.synctex.gz
/lab2/report/*.aux
/lab2/report/*.log
/lab2/report/*.out
/lab2/report/*.synctex.gz
